---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.svelte";
---

<Layout title="Zig.lat | Aprende">
  <Menu />
  <div class="border-2 mt-40 absolute w-full px-96">
    <div class="container  border-2 border-red-400 mx-auto">
      <h1 class="text-white text-5xl">Aprende Zig</h1>

      <p>Bienvenido a Aprende Zig, una introduccion al lenguaje de progrmacion Zig, Esta guia
        tiene como objectivo hacerte sentir comas comod@ con Zig. Se asume que tenga experiuencia
        previa en programacion, aunque no en ningun lenguaje de programacion en particular.
      </p>


    </div>


  </div>
</Layout>
