---
import Layout from "../layouts/Layout.astro";
import Some from "../components/some.svelte";
import Menu from "../components/menu.svelte";
// import Test from "../components/test.svelte";
---

<Layout title="Zig.lat">
  <!-- <main>
    <div > -->
  <Menu />
  <div>
    <Some client:only="svelte" />
    <!-- <Test/> -->
  </div>
</Layout>
